body{
  background-color: #EAF6F6;
}
hr{
  border-style: dotted none none;
  border-width: 5px;
  border-color: grey;
  width: 3%;
}
h1, h3{
  color: #66BFBF;
}
h1{
  font-family: "Times New Roman", Times, serif;
}
img {
  background-color: red;
}
